[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = git://github.com/vim-scripts/SuperTab.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-togglemouse"]
	path = bundle/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "bundle/zope-snipmate-bundle"]
	path = bundle/zope-snipmate-bundle
	url = https://github.com/zedr/zope-snipmate-bundle.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "bundle/scrollcolors"]
	path = bundle/scrollcolors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/color-sampler-pack"]
	path = bundle/color-sampler-pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/Rainbow-Parentheses-Improved-and2"]
	path = bundle/Rainbow-Parentheses-Improved-and2
	url = git://github.com/vim-scripts/Rainbow-Parentheses-Improved-and2.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/sudo.vim"]
	path = bundle/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/wombat-font"]
	path = bundle/wombat-font
	url = https://github.com/vim-scripts/Wombat.git
[submodule "bundle/wombat-colorscheme"]
	path = bundle/wombat-colorscheme
	url = https://github.com/vim-scripts/Wombat.git
[submodule "bundle/powerline-fonts"]
	path = bundle/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-session.git"]
	path = bundle/vim-session.git
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/vim-tasklist"]
	path = bundle/vim-tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/ult.vim"]
	path = bundle/ult.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "bundle/utl.vim"]
	path = bundle/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/TextObjectify"]
	path = bundle/TextObjectify
	url = https://github.com/paradigm/TextObjectify.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-snipmate"]
	path = vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/vimake"]
	path = bundle/vimake
	url = https://github.com/vim-scripts/vimake-vim-programmers-ide.git
[submodule "bundle/vim-android"]
	path = bundle/vim-android
	url = https://github.com/bpowell/vim-android.git
[submodule "bundle/colo-jellybeans"]
	path = bundle/colo-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/vim-git-log"]
	path = bundle/vim-git-log
	url = https://github.com/kablamo/vim-git-log.git
[submodule "bundle/colo-wombat256mod"]
	path = bundle/colo-wombat256mod
	url = https://github.com/michalbachowski/vim-wombat256mod.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/vim-mru"]
	path = bundle/vim-mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/colo-wombat"]
	path = bundle/colo-wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "bundle/colo-wombat256"]
	path = bundle/colo-wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/colo-vividchalk"]
	path = bundle/colo-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vim-javascript-indent"]
	path = bundle/vim-javascript-indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/vim-jscomplete"]
	path = bundle/vim-jscomplete
	url = https://github.com/teramako/jscomplete-vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-niji"]
	path = bundle/vim-niji
	url = https://github.com/amdt/vim-niji.git
[submodule "bundle/vim-tern"]
	path = bundle/vim-tern
	url = https://github.com/marijnh/tern_for_vim.git
